<div class="card-category my-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
  <div class="cocktail-name"><%= cocktail.name %></div>
  <div class="dose-list hide"><%= cocktail.name %>
    <ul>
      <% cocktail.doses.each do |dose| %>
        <li><%= "#{dose.description } | #{dose.ingredient.name}" %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "More", cocktail_path(cocktail), class: "card-category-more" %>
</div>
