<div class="card-category my-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
  <div class="cocktail-name"><%= cocktail.name %></div>
  <div class="dose-list hide"><%= cocktail.name %>
    <ul>
      <% cocktail.doses.first(5).each do |dose| %>
        <li><%= "#{dose.description } | #{dose.ingredient.name}" %></li>
      <% end %>
      <% if cocktail.doses.size > 5 %>
        <p>
          <%= link_to cocktail_path(cocktail), class: "text-white" do %>
            <strong><%= "and #{cocktail.doses.size - 5} more ingredients"%></strong>
          <% end %>
        </p>
      <% end %>
    </ul>
  </div>
  <%= link_to "More", cocktail_path(cocktail), class: "card-category-more" %>
</div>
